<!DOCTYPE html>
<html>
<head>
    <title>farmers_signin</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="{%url 'farmers_signin'%}" method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <input type="submit" value="Sign In">
</form>
    <a href="{% url 'farmers_signup' %}">Create an account</a>
</body>
</html>
