{% extends 'base.html' %} {% block content %}

<style>
    body {
      background-image: url("https://c4.wallpaperflare.com/wallpaper/674/65/161/children-farmers-farm-field-wallpaper-preview.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    h1 {
      text-align: center;
      font-size: 90px; /* Adjust the font size as needed */
      color: #f7f7f7; /* Light color (near white) */
      padding-top: 20px; /* Adjust the padding-top to vertically center the text */
    }
</style>

<h1>Digital Farmers</h1>

<script src="" async defer></script>
{% endblock %}
